@import "../../styles/variables";

.container {
  position: relative;
  height: 60vh;
  margin-bottom: 2rem;
}

.left {
  position: absolute;
  top: 0;
  left: 0;

  max-width: 61.8%;
}

.right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% / 3 * 2);

  @media (min-width: $breakpoint) {
    width: calc(100% / 3);
  }
}

.messageContainer {
  display: flex;
  justify-content: space-between;

  h4 {
    display: inline-block;
  }
}

.arrowContainer {
  height: 3rem;
  width: 3rem;

  rotate: 270deg;

  flex-shrink: 0;
}
