@import "variables";

@font-face {
  font-family: "Trail";
  src: url("/fonts/TrailType-VF.ttf") format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $grey;
}

h1 {
  color: $text-col;
}

h2 {
  font-weight: 400;
  color: $header-grey-col;
  mix-blend-mode: difference;
}
