@import "variables";

.header {
  $padding: 0.2rem;
  $height: 4rem;
  font-size: $height;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  min-width: 100%;
  height: $height;

  overflow: hidden;

  @media screen and (min-width: $breakpoint) {
    height: 6rem;
    font-size: 6rem;
  }

  h1 {
    padding: $padding;

    font-family: "Trail", sans-serif;
    font-size: 1em;
    font-weight: 400;

    // transition-property: font-variation-settings;
    // transition-timing-function: ease;

    flex-shrink: 0;
  }

  div {
    padding: $padding;

    height: calc(100% - 2 * $padding);
    background-color: black;

    @supports (aspect-ratio: 1) {
      aspect-ratio: 1;
    }

    // Maintain aspect ratio using padding, set by height.
    // @supports not (aspect-ratio: 1) {
    //   padding-left: $icon-size;
    // }

    flex-shrink: 0;
  }
}
