@import "variables";

.container {
  width: 100%;

  div {
    position: relative;
    padding-top: 127.8%;

    background: $light-grey;

    img {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  @media (min-width: $breakpoint) {
    width: calc(100% / 3);
  }
}
