@import "../../styles/variables";

$padding: 0.2rem;
$height: 4rem;

.header {
  font-size: $height;
  display: flex;
  justify-content: space-between;
  align-items: safe center;
  flex-shrink: 0;
  min-width: 100%;
  height: $height;

  overflow: hidden;

  @media screen and (min-width: $breakpoint) {
    height: 6rem;
    font-size: 6rem;
  }
}

.trail {
  padding: $padding;

  font-family: "Trail", sans-serif;
  font-size: 1em;
  font-weight: 400;

  transition: font-variation-settings 1000 / 60 ease;

  flex-shrink: 0;
}
