@import "../../styles/variables";

$padding: 0.2rem;
$height: 4rem;

.header {
  font-size: $height;
  display: flex;
  justify-content: space-between;
  align-items: safe center;
  flex-shrink: 0;
  min-width: 100%;
  height: $height;

  overflow: hidden;

  @media screen and (min-width: $breakpoint) {
    height: 6rem;
    font-size: 6rem;
  }
}

.trail {
  padding: $padding;

  font-family: "Trail", sans-serif;
  font-size: 1em;
  font-weight: 400;

  // transition-property: font-variation-settings;
  // transition-timing-function: ease;

  flex-shrink: 0;
}

.iconContainer {
  height: 0.65em;
  width: 1em;

  overflow: hidden;

  flex-shrink: 0;

  hr {
    position: absolute;
    left: 0;
    right: 0;
    border: 2px solid $text-col;

    transition: all 0.2s ease-in-out;
    transform-origin: center;

    @media (min-width: $breakpoint) {
      border-width: 3px;
    }
  }

  :nth-child(1) {
    top: 0;
    rotate: 0;
    transform: translateY(0);
  }

  :nth-child(2) {
    top: 50%;
    rotate: 0;
    transform: translateY(-50%);
  }

  :nth-child(3) {
    bottom: 0;
  }
}
.open {
  :nth-child(1) {
    top: 50%;
    rotate: 45deg;
    transform: translateY(-50%);
  }

  :nth-child(2) {
    rotate: -45deg;
  }

  :nth-child(3) {
    bottom: -50px;
  }
}
