@import "../../styles/variables";

$padding: 0.2rem;
$height: 4rem;

.header {
  font-size: $height;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: safe center;
  flex-shrink: 0;
  min-width: 100%;
  height: $height;

  overflow: hidden;

  @media screen and (min-width: $breakpoint) {
    height: 6rem;
    font-size: 6rem;
  }
}

.trail {
  padding: $padding;

  font-family: "Trail", sans-serif;
  font-size: 1em;
  font-weight: 400;

  // transition-property: font-variation-settings;
  // transition-timing-function: ease;

  flex-shrink: 0;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 0.65em;
  width: 1em;

  // Maintain aspect ratio using padding, set by height.
  // @supports not (aspect-ratio: 1) {
  //   padding-left: $icon-size;
  // }

  flex-shrink: 0;

  hr {
    border: 2px solid $text-col;

    @media (min-width: $breakpoint) {
      border-width: 3px;
    }
  }
}
